.date-time-picker .date-time-picker-popup {
  background: $white;
  border: $border-width solid $border-color;
  box-shadow: $box-shadow;
  border-radius: $border-radius-lg;
  position: absolute;
  margin-top: $spacer-1;
  width: 300px;
  z-index: 10;

  &:focus {
    outline: none;
  }
}
