.date-time-picker .date-time-picker-popup {
  background: $date-time-picker-white;
  border: $date-time-picker-border-width solid $date-time-picker-border-color;
  box-shadow: $date-time-picker-box-shadow;
  border-radius: $date-time-picker-border-radius-lg;
  position: absolute;
  margin-top: $date-time-picker-spacer-1;
  z-index: 10;

  &:focus {
    outline: none;
  }
}
