.date-time-picker .date-picker-decade {
  display: flex;
  flex-direction: column;
  padding: 7px;

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__item {
    width: calc(100% / 3);
    padding: 0.75rem 0;
  }
}
