$date-time-picker-white: #fff;
$date-time-picker-black: #000;
$date-time-picker-secondary: #6c757d;

$date-time-picker-border-width: 1px;
$date-time-picker-border-color: #dee2e6;
$date-time-picker-box-shadow: 0 .5rem 1rem rgba($date-time-picker-black, .15);
$date-time-picker-border-radius-lg: .3rem;

$date-time-picker-spacer-1: 0.25rem;
$date-time-picker-spacer-3: 0.5rem;
