$white: #fff;
$black: #000;
$secondary: #6c757d;

$border-width: 1px;
$border-color: #dee2e6;
$box-shadow: 0 .5rem 1rem rgba($black, .15);
$border-radius-lg: .3rem;

$spacer-1: 0.25rem;
$spacer-3: 0.5rem;
